.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(238, 141, 14);
  margin-bottom: 30px;
}
.main-navbar {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
h2 {
  color: black;
}
